# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.7'
    architecture: 'x64'

- script: |
    python -m pip install pipenv
    pipenv install
  displayName: 'Install prerequisites'

- script: |
    docker-compose up -d
    sleep 60
  displayName: 'Set up Docker-Android'

- script: |
    pipenv shell
    python app_simple.py
  displayName: 'Run tests'
